@import './hcp.scss';

.App-body {
  margin-top: 16px;
  border: 1px #B2B2B2 solid;
  border-radius: 4px;
  box-shadow: 0 0 4px #B2B2B2;
  width: 100%;
  height: 100%;

  .body-grid {
    width: 100%;

    .grid-name-header-row {
      color: black;
      display: flex;
      flex-direction: row;
      height: 55px;
      width: 100%;
    }
    .grid-actions-header-row {
      color: #2F7CF6;
      display: flex;
      flex-direction: row;
      height: 50px;
      width: 100%;

      .action-content {
        display: flex;
        flex-direction: row;

        span {
          margin-left: 20px;
        }

        .asc {
          background: url(../../icon/up-arrow.svg);
          height: 24px;
          width: 24px;
        }
  
        .desc {
          background: url(../../icon/down_arrow.svg);
          height: 24px;
          width: 24px;
        }

        .month-text {
          margin: 0 20px;
        }

        .prev, .next  {
          cursor: pointer;
        }
      }

      .ace-header {
        cursor: pointer;
      }

    }
    .grid-third-header-row {
      display: flex;
      flex-direction: row;
      height: 60px;
      width: 100%;

      .week {
        color: #7F7F7F;
        font-size: 0.8em;
        flex-grow: 1;
        text-align: center;
      }

      .appointment-header-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        width: 100%;

        .appointmentType {
          display: flex;
          justify-content: center;
          width: 14.2857%;

          .icon {
            align-items: center;
            border-radius: 50%;
            background-color: #CBCBCB;
            display: flex;
            height: 42px;
            justify-content: center;
            width: 42px;

            span {
              height: 30px;
              width: 30px;
            }

            .meeting {
              background: url(../../icon/meeting.svg);
            }
            .remote {
              background: url(../../icon/remote.svg);
            }
            .telephone {
              background: url(../../icon/telephone.svg);
            }
            .mail {
              background: url(../../icon/mail.svg);
            }
            .note {
              background: url(../../icon/note.svg);
            }
            .email {
              background: url(../../icon/email.svg);
            }
          }

          .first-icon {
            height: 42px;
            width: 42px;
          }
        }
      }

      .header{
        border-bottom: none;
      }
    }

    .header {
      border-bottom: 1px #B2B2B2 solid;
      border-right: 1px #B2B2B2 solid;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .column1 {
      width: 17%;
    }
    .column2 {
      width: 54%;
    }
    .column3 {
      width: 29%;
    }

    .grid-data-row {
      display: flex;
      flex-direction: row;
      height: 268px;

      .grid-data-cell {
        border-bottom: 1px #B2B2B2 solid;
        border-right: 1px #B2B2B2 solid;
      }
    }
  }
}
